.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--cart{
    flex-direction: column;
    align-items: center;
  }

  &-item {
    box-shadow: 0 2px 8px 1px #d7d7d7;
    padding: 16px;
    margin-bottom: 16px;
    width: 920px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img{
        height: 200px;
        margin-right: 16px;
      }
    }
    .content-area{
      display: flex;
      align-items: center;
      max-width: 680px;
    }

    .action-area{
      display: flex;

      .quantity {
        color: #fdb001;
        font-weight: bold;
        font-size: 32px;
        padding: 0px 8px;
      }
    }

  }
}

.counter {
  display: flex;

  &-input {
    max-width: 40px;
    padding: 0;
    border: 1px solid black;
    text-align: center;
    border-radius: 3px;
    height: 100%;

    &-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-right: 2px;
    }
  }

  &-button {
    border-radius: 3px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    width: 25px;
  }
}

button {
  margin: 0 4px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}

.toppings,.added-toppings{
  button{
    margin-bottom: 8px;
  }
  .toppings-btn{
    display: inline;
  }
  
}

.add-toppings{
  display: block;
  margin-bottom: 8px;
}

.focusable,div[class^="section"] {

  &:focus{
    outline: none;

    .restaurants-item{
      background-color: #fdb001;
      color: #edf2f5;
    }

    button{
      background-color: #fdb001;
      color: #edf2f5;
    }

    .button-link{
      background-color: #fdb001;
      color: #edf2f5;
    }

    a {
      background-color: #fdb001;
      color: #edf2f5;
  }

  }
}