.navigation {
  display: flex;
  padding: 18px 0;
  margin-bottom: 18px;
  max-width: 920px;
  margin: 0 auto;
  justify-content: space-between;

  &-right{
    display: flex;
  }

  &-link {
    display: block;
    padding: 16px 16px;
    margin: 0 8px;
    font-size: 18px;
    background-color: #edf2f5;
    border-radius: 4px;
    color: #4c3017;
    text-decoration: none;

    &.active {
      font-weight: bold;
      color: #fdb001;
    }
  }
}

.button-link {
  display: block;
  margin: 0 8px;
  font-size: 18px;
  background-color: #edf2f5;
  border-radius: 4px;
  color: #4c3017;
  text-decoration: none;
  width: 920px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
  font-weight: bold;
  margin-top: 32px;

}