body {
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(style/pattern2.png), linear-gradient(90deg, rgb(82, 93, 112) 8%, rgb(28, 35, 57) 97%);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
